*.jsbundle
*.tsbuildinfo
.DS_Store
.eslintcache
.history
.jest
.now
.vscode
Pods
node_modules/
npm-debug.log
yarn-error.log

# Google Cloud Service Account credentials
*firebase*credentials*.json
*gserviceaccount*.json
*-firebase-crashreporting-*.json
